<script>
  $(function() {
    Dashing.cycleDashboards({timeInSeconds: 10, stagger: false});
  });
</script>

<% content_for :title do %>Statsboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tick_stories_printed_for_a_sprint" data-view="Number" data-title="Stories Printed"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tick_graph_vote" data-view="Graph" data-title="Votes (last 7 days)"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="splat_github_languages" data-view="List" data-title="GitHub Languages"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Clock" data-title="Clock"></div>
    </li>
  </ul>
</div>

<div class="gridster">
  <ul>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tick_annoyed_hippers" data-view="Number" data-title="Annoyed Hippers" data-min="0" data-max="50"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tick_fell_over" data-view="Meter" data-title="Fell Over" data-min="0" data-max="50"></div>
    </li>
  </ul>
</div>
